router bgp {{bgp.asn}}
{% for bgp_nei in bgp.neighbors %}
 neighbor {{bgp_nei.ipaddr}} remote-as {{bgp_nei.remote_asn}}
 !
{% endfor %}
 address-family ipv4
{% for bgp_nei in bgp.neighbors %}
  neighbor {{bgp_nei.ipaddr}} activate
{% endfor %}
 exit-address-family