{% for key,value in config_data.items() %}
{% for if_name,if_data in value.interfaces.items() %}
interface {{if_name}}
 description {{if_data.description}}
 ip address {{if_data.ipaddr}}
 {% if if_data.state == "up" %}
 no shutdown
 {% endif %}
{% endfor %}
{% endfor %}