interfaces {
    {% for key,value in config_data.items() %}
    {% for if_name,if_data in value.interfaces.items() %}
    {{if_name}} {
        unit 0 {
            family inet {
                address {{ if_data.ipaddr }};
            }
        }
    }
    {% endfor %}
    {% endfor %}
}